
/* Making p tag red */
/* Modify mulitple property values */
/* p {
  color: red;
  width: 500px;
  border: 1px solid black;
} */

/* Selecting multiple elements */
/* p, li, h1 {
  color: red;
} */

/* Font and text */
html {
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

/* Changing the page color */
html {
  background-color: #00539F;
}

/* Styling the body */
body {
  width: 600px;
  margin: 0 auto;
  background-color: #FF9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 { 
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}

/* Centering the image */

img {
  display: block;
  margin: 0 auto;
}